body {
	*margin:0px auto;
	_margin:0px auto;
	margin:0px auto;
	width: 993px;
    height:auto;
    background-color:#f3f2f2;
    font-family: "微軟正黑體","Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contentBlock
{
    padding:20px;
}
.formBox
{ 
    width:940px;
    height:30px;
    margin:10px;
    margin-bottom:20px;
    font-size:18px;
}
/*標題der字*/
.title
{
    height:24px;
    padding-top:3px;
    width:auto;
    margin-right:5px;
    float:left;
    font-size:18px;
}

/*題目內容*/
.textBox
{
    width:350px;
    float:left;
}
.buttonBox 
{
    width:150px;
    height:50px;
    margin-top:15px;
    margin-left:800px;
}
