html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: '微軟正黑體', 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #000000;
}

.container
{
	width: 1200px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 200%;
}

a
{
	color: #000;
    text-decoration:none;
}

a:hover
{
	text-decoration: none;
    color: #606060;
}

a img
{
	border: none;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

.button-style
{
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background: #466CE8;
	border-radius: 5px;
	border: 1px solid #3656BE;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF !important;
}
.button-style:hover
{
	background-color: #5384E6;
}
.button-style a
{
	text-decoration: none;
	color: #FFF !important;
}
