/** WRAPPER */
#wrapper-bg
{
	overflow: hidden;
	background: url(../Picture/bg05.jpg) repeat;
}

#wrapper
{
	margin-top: 30px;
	padding-bottom: 50px;
	background: #FFF;
	box-shadow: 0px 10px 0px rgba(0,0,0,0.03), 0px -10px 0px rgba(0,0,0,0.03);
}

/** HEADER */
#header
{
	overflow: hidden;
	border-bottom: 1px solid #E7E7E7;
}

/** LOGO */
.logoBox 
{
    float:left;
    width:300px;
}
#logo
{
	float: left;
}

#logo h1 a
{
	display: block;
	line-height: 100px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.3em;
	color: #3E3E3E;
}

#logo span
{
	color: #466CE8;
}
.edit 
{
    margin-left:10px;
    margin-top:35px;
    float:left;
}
/** MENU */
#menu
{
	float: right;
	width: 900px;
}

#menu ul
{
	float: right;
	margin: 0px;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	border-left: 1px solid #E7E7E7;
}

#menu a
{
	display: block;
	padding: 10px 15px;
	margin: 0em 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1em;
	font-weight: 700;
	color: #5A8DF4;
}

#menu .active a
{
	background: #466CE8;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	border: 1px solid #4C76C9;
	color: #FFFFFF;
}

#menu .active a:hover
{
	background-color: #5384E6;
}

#menu .active a:active
{
	background-color: #6191F2;
}

#menu a:hover
{
	text-decoration: none;
}
