body {
	*margin:0px auto;
	_margin:0px auto;
	margin:0px auto;
	width: 993px;
    height:auto;
    background-color:#f3f2f2;
    font-family: "微軟正黑體","Helvetica Neue", Arial, Helvetica, sans-serif;
}
