
/** PAGE */

#page
{
}

/** CONTENT */

#content
{
}

/** SIDEBAR */

#sidebar
{
}

#banner
{
	padding: 30px 0px;
}

/* Three Column Content */

#three-column
{
	overflow: hidden;
	padding-top: 30px;
}

#three-column header
{
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-size: 1.5em;
}

#three-column .columnbox h2
{
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #515151;
}

#three-column .columnbox
{
	float: left;
	width: 375px;
	margin-right: 12px;
    margin-left: 12px;
}
.columnbox img{
    height:250px;
    border-radius:10px;
    box-shadow:5px 5px 20px 0.2px #ECECEC;
}
.columnbox img:hover {
    opacity:0.6;       
}

.editBox {
    height:40px;
}
.edit {
    float:left;
}