.contentBlock {
    height:800px;
}
.contentLeft {
    width:20%;
    height:100%;
    float:left;
    background-color: #F0F0F0;
}
.contentRight {
    width:80%;
    height:100%;
    float:left;
}
.sidebarContent {
    margin-left:20px;
    margin-top:20px;
    width:100%;
    height:100%;
}
.sectionContent {
    margin-left:20px;
    width:100%;
    height:100%;
}
.sectionBoxLeft {
    width:45%;
    height:40%;
    float:left;
}
.sectionBoxRight {
    width:50%;
    height:40%;
    float:left;
    margin-left:5%;
}
.sectionBoxBottom {
    width:100%;
    height:55%;
    margin-top:5%;
}
.image {
    height:100%;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% auto;
}