.content-middle {
    overflow:auto
}

/*left bar*/
.leftbar {
    height:490px;
    width:250px;
    float:left;
    margin-left:75px;
}
.leftbar-type
{
    height:28px;
    width:100%;
	font-size: 1.2em;
    font-weight:800;
	overflow: hidden;
    border-bottom: 1px solid #999;
    margin-top:20px;
}
.leftbar-type:hover
{
    color: #606060;
    cursor:pointer;
}

/* Original leftbar css*/
.leftbar-baseline
{
    height:15px;
    width:250px;
    border-top:5px solid #2b33d4;
}
ul
{
    padding-left:30px;
    margin-bottom:10px;
    font-size:14px;
}
.leftbar ul
{
    background:#eee;
}

.rightbar {
    width: 800px;
    float:left;
    margin-left:10px;
}

.product {
    width:800px;
    height:400px;
    padding:10px;
    float:left;  
}

.product-inside {
    width:350px;
    height:400px;
    float:left; 
    margin-left:25px;
    margin-right:25px;
    
}
.image {
    width:310px;
    height:200px;
    margin-right:20px;
    border-radius:10px;
    box-shadow:5px 5px 20px 0.2px #ECECEC;
}
    .image img {
        height:100%;
        width:100%;
    }
    .image:hover {
        opacity:0.6;       
    }

.delete {
    width:30px;
    height:auto;
}
.name {
    padding-top:10px;
    width:350px;
    height:auto;
    font-size:0.5cm;
    font-weight:bold;
}

.information {
    width:250px;
    height:35px;
    text-align:left;
    font-size:0.5cm;
    float:left;
}





