
.contentBlock
{
    width:800px;
    margin-left:96px;
}
.formBox
{ 
    width:100%;
    height:30px;
    margin-bottom:20px;
    font-size:18px;
}
/*標題der字*/
.title
{
    height:24px;
    padding-top:3px;
    width:auto;
    margin-right:5px;
    float:left;
    font-size:18px;
}

.buttonBox 
{
    width:150px;
    height:70px;
    margin-left:300px;
}

/*題目內容*/
.textBox
{
    width:450px;
    height: auto;
}
.content-header
{
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-size: 1.5em;
	color: #515151;
}
.discountDetail
{ 
    width:820px;
    height:auto;
    margin:10px;
    margin-left:120px;
    margin-bottom:20px;
    font-size:18px;
    letter-spacing:10px;
}
.discountTextBox
{
    width:50px;
    height: auto;
}