.content {
    width:1200px;
    overflow:auto;
}
.content-top {
    margin-top:20px;
    width:1180px;

}
.content-center {
    margin-left:10px;
    margin-top:20px;
    width:1180px;

}
.center-column {
    margin-bottom:10px;
    width:auto;
    height:69px;
    border-bottom: 1px solid #E7E7E7;
}
.column-name {
    margin-top:33px;
    margin-left:5px;
    width:385px;
    height:35px;
    float:left;
    border-right: 1px solid #E7E7E7;
}
.column-box {
    margin-top:33px;
    margin-left:5px;
    width:115px;
    height:35px;
    float:left;
    border-right: 1px solid #E7E7E7;
}
.column-img {
    margin-top:14px;
    margin-left:5px;
    width:115px;
    float:left;
    border-right: 1px solid #E7E7E7;
}
.column-img img {
    padding:5px;
    width:62px;
    height:40px;
}
.column-delete {
    margin-left:10px;
    width:90px;
    height:60px;
    float:left;
}
.content-bottom {
    margin-top:50px;
    margin-bottom:20px;
    width:1145px;
    height:60px;
}
.bottom-left {
    float:right;
    margin-right:30px;
    margin-top:28px;
    width:auto;
    height:auto;
}
.bottom-right {
    float:right;
    margin-right:50px;
    width:auto;
    height:auto;
}
.content-header
{
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-size: 1.5em;
	color: #515151;
}
.content-text
{
    height:24px;
    padding-top:5px;
    width:auto;
    margin-left:5px;
    font-size:18px;
}